/* Material Icon Button */

.icon {
  margin: 3px;
  position: relative;
  display: inline-block;
  color: white;
  background-color: var(--icon-button-background);
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease;
}

.icon .material-icons {
  font-size: 1rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  transition: all 0.3s ease;
}

.icon:hover,
.icon:focus {
  background-color: var(--icon-button-background-focus);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--surface1);
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-tap-highlight-color: transparent;
}

.more-info-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--surface1);
  overflow-x: hidden;
  transition: 0.5s;
  -webkit-tap-highlight-color: transparent;
}

.more-info-sidebar a {
  display: flex;
  margin-bottom: 6px;
  padding: 2px;
  margin: 3px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--text1);
}

.more-info-sidebar img {
  width: 28px;
  margin-right: 6px;
}

.more-info-btn {
  text-align: center;
}

.brand-title {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}

.brand-sub-title {
  text-align: left;
  font-size: 12px;
}

.more-side-brand {
  padding: 8px;
}

.close-button {
  position: absolute;
  right: 16px;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 24px;
  align-self: center;
  color: white;
  line-height: 1.5;
}

.close2 {
  font-size: 16px;
  text-align: center;
  line-height: 1.8;
}

.practice-ch {
  border-radius: 6px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease;
  padding: 3px;
}

.header {
  color: var(--header-color);
}

.question-sub-text {
  color: #f44336;
  font-weight: bold;
}

.text-color1 {
  font-size: 16px;
  color: var(--pinyin-color);
}

.text-color2 {
  color: var(--traditional-color);
}

.text-color3 {
  color: var(--meaning-color);
}

.text-color4 {
  font-size: 30px;
  font-weight: bold;
  color: var(--simplified-color);
}
