.card {
    font-family: arial;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: white;
    }
    
    .hanzi {
    font-family: SimSun;
    font-size: 28px;
    }
    
    .pinyin {
    color: gray;
    }
    
    .translation {
    font-size: 26px;
    }
    
    .lessonInfoHanzi {
    font-family: SimSun;
    font-size: 12px;
    }
    
    .lessonInfo {
    font-family: arial;
    font-size: 10px;
    }
    
    .english {
    font-family: arial;
    font-size: 20px;
    }
    
    .notes {
    font-family: arial;
    font-size: 12px;
    color: gray;
    }
    
    .spacer {
    height: 20px;
    }
    
    .spacerSmall {
    height: 3px;
    }
    
    .spacerMedium {
    height: 10px;
    }

    #char_deck {
        margin-top: 10px;
        font-size: 10px;
        font-style: italic;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
      }
        
      #char_deck #audio {
        height: 20px;
      }
      
      #char_deck #audio .replay-button {
        margin: 0;
      }
      
      #char_deck #audio .playImage {
        height: 20px;
        width: 20px;
      }
    